<div class="w-64 px-1 bg-sidebargray h-screen overflow-y-auto">
    <div class="h-16 flex items-center pt-12">
        <a
            class="w-48 mx-auto flex items-center justify-start text-gray-100 py-2 rounded space-x-2 transition duration-150">
            <img src="./assets/logo.png">
            <span class="text-xl"><b>CARRILLOs</b></span>
        </a>
    </div>
    <div class="px-2 pt-8 pb-8">
        @if (role === 'admin') {
        <ul class="space-y-2">
            <li>
                <a (click)="selectTitle('Panel')"
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/panel" routerLinkActive="text-customgreen font-semibold">
                    <span class="flex items-center space-x-2">
                        <i class="pi pi-wave-pulse" style="font-size: 1.2rem"></i>
                        <span>Panel</span>
                    </span>
                </a>
            </li>
            <li>
                <a (click)="selectTitle('Vehículos')"
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/vehiculos" routerLinkActive="text-customgreen font-semibold">
                    <i class="pi pi-truck" style="font-size: 1.2rem"></i>
                    <div class="flex w-full justify-between items-center">
                        <span class="flex-1">Vehículos</span>
                        <button type="button" (click)="toggleSubmenu()" class="focus:outline-none">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 transform transition-transform"
                                [class.rotate-180]="submenuOpen" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7" />
                            </svg>
                        </button>
                    </div>
                </a>

                @if (submenuOpen) {
                <ul class="pl-8 mt-2 space-y-2 transition-transform duration-300 transform ease-in-out opacity-100">
                    <li>
                        <a (click)="selectTitle('Mantenimiento')"
                            class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                            routerLink="/vehiculos/mantenimiento" routerLinkActive="text-customgreen font-semibold">
                            <span>Mantenimiento</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="selectTitle('Documentación')"
                            class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                            routerLink="/vehiculos/documentacion" routerLinkActive="text-customgreen font-semibold">
                            <span>Documentación</span>
                        </a>
                    </li>
                </ul>
                }
            </li>
            <li>
                <a (click)="selectTitle('Asuntos')"
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/asuntos" routerLinkActive="text-customgreen font-semibold">
                    <i class="pi pi-desktop" style="font-size: 1.2rem"></i>
                    <span>Asuntos</span>
                </a>
            </li>
            <li>
                <a (click)="selectTitle('Recordatorios')"
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/recordatorios" routerLinkActive="text-customgreen font-semibold">
                    <i class="pi pi-calendar" style="font-size: 1.2rem"></i>
                    <span>Recordatorios</span>
                </a>
            </li>
            <li>
                <a (click)="selectTitle('Conductores')"
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/conductores" routerLinkActive="text-customgreen font-semibold">
                    <i class="pi pi-users" style="font-size: 1.2rem"></i>
                    <span>Conductores</span>
                </a>
            </li>
            <li>
                <a (click)="selectTitle('Reservas')"
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/reservas" routerLinkActive="text-customgreen font-semibold">
                    <i class="pi pi-file-check" style="font-size: 1.2rem"></i>
                    <span>Reservas</span>
                </a>
            </li>
            <li>
                <a (click)="selectTitle('Clientes')"
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/clientes" routerLinkActive="text-customgreen font-semibold">
                    <i class="pi pi-address-book" style="font-size: 1.2rem"></i>
                    <span>Clientes</span>
                </a>
            </li>
            <li>
                <a (click)="selectTitle('Rutas')"
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center justify-between text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/rutas" routerLinkActive="text-customgreen font-semibold">
                    <span class="flex items-center space-x-2">
                        <i class="pi pi-map" style="font-size: 1.2rem"></i>
                        <span>Rutas</span>
                    </span>
                </a>
            </li>
            <div class="border-b border-divider mt-2 mb-2"></div>
            <li>
                <a class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/ajustes" routerLinkActive="text-customgreen font-semibold">
                    <i class="pi pi-cog" style="font-size: 1.2rem"></i>
                    <span>Ajustes</span>
                </a>
            </li>
            <li>
                <a class=" hover:bg-red-500 hover:bg-opacity-10 hover:text-red-400 flex items-center text-red-700
                    py-1.5 px-4 rounded space-x-2 cursor-pointer" (click)="logout()">
                    <i class="pi pi-sign-out" style="font-size: 1.2rem"></i>
                    <span>Cerrar sesión</span>
                </a>
            </li>
        </ul>
        } @else if (role === 'driver') {
        <ul class="space-y-2">
            <li>
                <a (click)="selectTitle('Asuntos')"
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/asuntos" routerLinkActive="text-customgreen font-semibold">
                    <i class="pi pi-desktop" style="font-size: 1.2rem"></i>
                    <span>Asuntos</span>
                </a>
            </li>
            <li>
                <a (click)="selectTitle('Rutas')"
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center justify-between text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer"
                    routerLink="/rutas" routerLinkActive="text-customgreen font-semibold">
                    <span class="flex items-center space-x-2">
                        <i class="pi pi-map" style="font-size: 1.2rem"></i>
                        <span>Rutas</span>
                    </span>
                </a>
            </li>
            @for (a of asa; track $index) {
            <br>
            }
            <li>
                <div class="p-4 border-l-4 border-customgray text-customgray">
                    <div class="flex items-center space-x-3">
                        <i class="pi pi-info-circle text-xl"></i>
                        <span class="text-sm font-semibold">¡Recuerda que los conductores deben seguir las rutas
                            asignadas!</span>
                    </div>
                </div>
            </li>

            <li>
                <div
                    class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-customgreen flex items-center justify-between text-customgray py-1.5 px-4 rounded space-x-2 cursor-pointer">
                    <img [src]="driverPhotoUrl" class="w-8 h-8 rounded-full object-cover">
                    <div class="text-sm">
                        <h3 class="font-semibold text-customgray">{{ driverName || 'Conductor' }}</h3>
                    </div>
                </div>
            </li>
            <div class="border-b border-divider mt-2 mb-2"></div>
            <li>
                <a class=" hover:bg-red-500 hover:bg-opacity-10 hover:text-red-400 flex items-center text-red-700
                    py-1.5 px-4 rounded space-x-2 cursor-pointer" (click)="logout()">
                    <i class="pi pi-sign-out" style="font-size: 1.2rem"></i>
                    <span>Cerrar sesión</span>
                </a>
            </li>
        </ul>
        }
    </div>
</div>