<!-- Container -->
<div class="flex flex-wrap min-h-screen w-full content-center justify-center bg-gray-200 py-10">
  <!-- Login component -->
  <div class="flex shadow-md">
    <!-- Login form -->
    <div class="flex flex-wrap content-center justify-center rounded-l-md bg-white"
      style="width: 24rem; height: 32rem;">
      <div class="w-72">

        <!-- Heading -->
        <img src="./assets/login/auto.png" class="mb-3" alt="">
        <h1 class="text-xl font-semibold">¡Bienvenido de vuelta! 👋</h1>
        <small class="text-gray-400">Hoy es un nuevo día. Es tu día. Tu le das forma. Inicia sesión para comenzar a
          gestionar tu flotilla.</small>

        <!-- Form -->
        <form class="mt-4" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label class="mb-2 block text-xs font-semibold">Correo electrónico</label>
            <input pInputText formControlName="email" type="email" placeholder="micorreo@empresa.mx"
              class="block w-full rounded-md border border-gray-300 focus:border-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-700 py-1 px-1.5 text-gray-500" />
            @if (email?.invalid && email?.touched) {
            <small class="text-red-700">Ingrese un
              correo electrónico válido</small>
            }
          </div>

          <div class="mb-3">
            <label class="mb-2 block text-xs font-semibold">Contraseña</label>
            <input formControlName="password" pInputText type="password" placeholder="••••••••"
              class="block w-full rounded-md border border-gray-300 focus:border-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-700 py-1 px-1.5 text-gray-500" />
            @if (password?.invalid && password?.touched) {
            <small class="text-red-700">Ingrese una contraseña válida</small>
            }
          </div>

          <div class="mb-3 flex flex-wrap content-center">

            <a class="text-xs font-bold text-blue-500" style="cursor: pointer;" (click)="recoveryPassword()">Olvidé mi contraseña</a>
          </div>

          <div class="mb-3">
            <button
              class="mb-1.5 block w-full text-center text-white bg-slate-700 hover:bg-slate-900 px-2 py-1.5 rounded-md"
              [disabled]="loginForm.invalid">Iniciar sesión</button>
          </div>
        </form>

        <!-- Footer -->
        <div class="text-center">
          <span class="text-xs text-gray-400 font-semibold">¿No cuenta con su correo de empresa?</span>
          <a href="#" class="text-xs font-bold text-blue-500"> Revise esta publicación</a>
        </div>
      </div>
    </div>

    <!-- Login banner -->
    <div class="flex flex-wrap content-center justify-center rounded-r-md" style="width: 24rem; height: 32rem;">
      <img class="w-full h-full bg-center bg-no-repeat bg-cover rounded-r-md" src="./assets/login/login-car.png">
    </div>
  </div>

</div>