<form [formGroup]="driverForm" (ngSubmit)="onSubmit()" class="p-4 -mt-4 rounded-lg">
    <div class="flex flex-col items-center">
        <div
            class="w-44 h-44 border-2 border-dashed border-gray-300 rounded-full flex items-center justify-center overflow-hidden">
            <img [src]="url" alt="" />
            <ng-template #uploadPrompt>
                <div class="text-center">
                    <p class="mt-1 text-sm text-gray-600">Subir imagen</p>
                </div>
            </ng-template>
        </div>
        <input type="file" id="profile-image" accept="image/*" class="hidden" (change)="upload($event)" />
        <label for="profile-image"
            class="mt-2 cursor-pointer bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Seleccionar imagen
        </label>
    </div>

    <div class="flex mt-4 flex-wrap gap-4">
        <div class="flex-1">
            <label for="name" class="block text-sm font-medium text-gray-700 mb-1">Nombre</label>
            <div class="relative">
                <i class="pi pi-user absolute top-2.5 left-3 text-gray-400"></i>
                <input type="text" id="name" formControlName="name"
                    class="pl-10 w-full py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400 focus:border-transparent text-sm"
                    [ngClass]="{'border-red-500': driverForm.get('name')?.invalid && driverForm.get('name')?.touched}">
            </div>
        </div>

        <div class="flex-1">
            <label for="license_number" class="block text-sm font-medium text-gray-700 mb-1">Número de Licencia</label>
            <div class="relative">
                <i class="pi pi-id-card absolute top-2.5 left-3 text-gray-400"></i>
                <input type="text" id="license_number" maxlength="15" formControlName="license_number"
                    class="pl-10 w-full py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400 focus:border-transparent text-sm"
                    [ngClass]="{'border-red-500': driverForm.get('license_number')?.invalid && driverForm.get('license_number')?.touched}"
                    (input)="formatLicenseNumber($event)">
            </div>
            <small class="text-xs">
                Formato ABC-1234-567
            </small>
        </div>
    </div>

    <div class="flex mt-4 flex-wrap gap-4">
        <div class="flex-1">
            <label for="license_category" class="block text-sm font-medium text-gray-700 mb-1">Categoría de
                Licencia</label>
            <div class="relative">
                <i class="pi pi-list absolute top-2.5 left-3 text-gray-400"></i>
                <select id="license_category" formControlName="license_category"
                    class="pl-10 w-full py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400 focus:border-transparent text-sm"
                    [ngClass]="{'border-red-500': driverForm.get('license_category')?.invalid && driverForm.get('license_category')?.touched}">
                    <option value="" disabled selected>Selecciona una categoría</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </div>
        </div>

        <div class="flex-1">
            <label for="phone" class="block text-sm font-medium text-gray-700 mb-1">Teléfono</label>
            <div class="relative">
                <i class="pi pi-phone absolute top-2.5 left-3 text-gray-400"></i>
                <input type="number" id="phone" formControlName="phone"
                    class="pl-10 w-full py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400 focus:border-transparent text-sm"
                    [ngClass]="{'border-red-500': driverForm.get('phone')?.invalid && driverForm.get('phone')?.touched}"
                    (keydown)="preventInvalidKeys($event)" (input)="limitPhoneLength($event)">

            </div>
        </div>
    </div>

    <div class="flex-1 mt-4">
        <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Correo electrónico</label>
        <div class="relative">
            <i class="pi pi-envelope absolute top-2.5 left-3 text-gray-400"></i>
            <input type="email" id="email" formControlName="email"
                class="pl-10 w-full py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400 focus:border-transparent text-sm"
                [ngClass]="{'border-red-500': driverForm.get('email')?.invalid && driverForm.get('email')?.touched}" />
        </div>
    </div>

    <div class="mt-4">
        <label for="address" class="block text-sm font-medium text-gray-700 mb-1">Dirección</label>
        <div class="relative">
            <i class="pi pi-home absolute top-2.5 left-3 text-gray-400"></i>
            <textarea id="address" formControlName="address" rows="3"
                class="pl-10 w-full py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400 focus:border-transparent text-sm resize-none"
                [ngClass]="{'border-red-500': driverForm.get('address')?.invalid && driverForm.get('address')?.touched}">
            </textarea>
        </div>
    </div>

    <div class="mt-4 text-center">
        <button type="submit"
            class="inline-flex w-full items-center justify-center px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 disabled:bg-gray-300 disabled:cursor-not-allowed transition"
            [disabled]="!driverForm.valid">
            <i class="pi pi-check-circle mr-2"></i>
            {{ driver ? 'Guardar Cambios' : 'Crear' }}
        </button>
    </div>
</form>