<div class="flex h-full flex-col gap-2">
    <div class="flex h-[60px] items-center px-6">
        <input type="hidden" placeholder="Buscar un asunto"
            class="h-9 w-[200px] rounded-full border border-gray-300 bg-white px-8 text-sm">
    </div>
    <div class="flex-1 px-4 overflow-y-auto">
        <nav class="grid gap-1 text-sm">
            <div class="px-2 pb-8">
                <!-- separador de botones -->
                <span class="text-anothercg font-medium">TIPO DE ASUNTOS</span>
                <ul class="space-y-2 pt-2 pb-2">
                    <li>
                        <a class="hover:bg-blue-300 hover:bg-opacity-10 hover:text-blue-500 text-base flex items-center text-slate py-1.5 px-2 rounded space-x-2 cursor-pointer"
                            (click)="onIssueTypeSelect('vehiculos')" routerLink="vehiculos"
                            routerLinkActive="bg-blue-300 bg-opacity-10 text-blue-500 font-semibold">
                            <span class="flex items-center space-x-2">
                                <i class="pi pi-truck"></i>
                                <span>Vehículos</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="hover:bg-blue-300 hover:bg-opacity-10 hover:text-blue-500 text-base flex items-center text-slate py-1.5 px-2 rounded space-x-2 cursor-pointer"
                            (click)="onIssueTypeSelect('asignacion-de-vehiculos')" routerLink="asignacion-de-vehiculos"
                            routerLinkActive="bg-blue-300 bg-opacity-10 text-blue-500 font-semibold">
                            <span class="flex items-center space-x-2">
                                <i class="pi pi-user-plus"></i>
                                <span>Asignación de vehículos</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="hover:bg-blue-300 hover:bg-opacity-10 hover:text-blue-500 text-base flex items-center text-slate py-1.5 px-2 rounded space-x-2 cursor-pointer"
                            (click)="onIssueTypeSelect('servicios')" routerLink="servicios"
                            routerLinkActive="bg-blue-300 bg-opacity-10 text-blue-500 font-semibold">
                            <span class="flex items-center space-x-2">
                                <i class="pi pi-wrench"></i>
                                <span>Servicios</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="hover:bg-blue-300 hover:bg-opacity-10 hover:text-blue-500 text-base flex items-center text-slate py-1.5 px-2 rounded space-x-2 cursor-pointer"
                            (click)="onIssueTypeSelect('auto-partes')" routerLink="auto-partes"
                            routerLinkActive="bg-blue-300 bg-opacity-10 text-blue-500 font-semibold">
                            <span class="flex items-center space-x-2">
                                <i class="pi pi-box"></i>
                                <span>Auto Partes</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="hover:bg-blue-300 hover:bg-opacity-10 hover:text-blue-500 text-base flex items-center text-slate py-1.5 px-2 rounded space-x-2 cursor-pointer"
                            (click)="onIssueTypeSelect('combustible')" routerLink="combustible"
                            routerLinkActive="bg-blue-300 bg-opacity-10 text-blue-500 font-semibold">
                            <span class="flex items-center space-x-2">
                                <i class="pi pi-bolt"></i>
                                <span>Combustible</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="hover:bg-red-500 hover:bg-opacity-10 hover:text-red-400 text-base flex items-center text-red-700 py-1.5 px-2 rounded space-x-2 cursor-pointer"
                            (click)="onIssueStatusSelect('closed')" routerLink="closed"
                            routerLinkActive="bg-red-300 bg-opacity-10 text-blue-500 font-semibold">
                            <span class="flex items-center space-x-2">
                                <i class="pi pi-lock"></i>
                                <span>Cerrados</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>