<div class="grid gap-2 md:grid-cols-2 lg:grid-cols-4 p-4">
    <div class="bg-white rounded-lg shadow p-6 border border-gray-300">
        <div class="flex flex-col gap-1 br-gray-300">
            <p class="text-sm font-medium text-gray-500">VEHICULOS</p>
            <div class="flex items-center justify-between">
                <span class="text-2xl font-bold">{{ vehicles.length }}</span>
                <span class="text-sm font-medium text-emerald-500">+{{ getVehiclesPercentage() }}%</span>
            </div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow p-6 border border-gray-300">
        <div class="flex flex-col gap-1">
            <p class="text-sm font-medium text-gray-500">EN MANTENIMIENTO</p>
            <div class="flex items-center justify-between">
                <span class="text-2xl font-bold">{{ getVehiclesInMaintenanceCount() }}</span>
                <span class="text-sm font-medium text-emerald-500">{{ getMaintenancePercentage() }}%</span>
            </div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow p-6 border border-gray-300">
        <div class="flex flex-col gap-1">
            <p class="text-sm font-medium text-gray-500">GASTO EN MANTENIMIENTO</p>
            <div class="flex items-center justify-between">
                <span class="text-2xl font-bold">{{ currentMonthMaintenanceExpense | currency }}</span>
                <div class="flex items-center">
                    <span [ngClass]="{
                            'text-red-500': getMaintenanceExpenseChange() < 0,
                            'text-emerald-500': getMaintenanceExpenseChange() > 0
                        }" class="text-sm font-medium">
                        {{ getMaintenanceExpenseChange() | number: '1.0-2' }}%
                    </span>
                    <i [ngClass]="{
                            'pi pi-arrow-down': getMaintenanceExpenseChange() < 0,
                            'pi pi-arrow-up': getMaintenanceExpenseChange() > 0
                        }" class="ml-2"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white rounded-lg shadow p-6 border border-gray-300">
        <div class="flex flex-col gap-1">
            <p class="text-sm font-medium text-gray-500">MAYOR MANTENIMIENTO</p>
            <div class="flex items-center justify-between">
                <span class="text-2xl font-bold">{{ getMostUsedMaintenanceType() }}</span>
            </div>
        </div>
    </div>

</div>