<div class="relative w-full max-w-lg mx-auto">
    <!-- Etiqueta -->
    <label for="search_places" class="block text-sm font-medium text-gray-700 mb-1">Buscar lugares</label>

    <!-- Input con ícono y estilos -->
    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <i class="pi pi-map-marker text-gray-500"></i>
        </div>
        <input #txtQuery id="search_places" (keyup)="onQueryChange(txtQuery.value)" type="text"
            placeholder="Buscar lugares..."
            class="block w-full rounded-md border border-gray-300 focus:border-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-700 py-2 pl-10 pr-4 text-gray-500">
    </div>

    <!-- Resultados del componente -->
    <app-search-results></app-search-results>
</div>