<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#000000] to-white opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 72.5% 32.5%, 60.2% 62.4%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 74.1% 44.1%)">
    </div>
</div>

<!-- Contenido principal -->
<div class="mx-auto max-w-7xl px-8 grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <!-- Columna izquierda -->
    <div>
        <h1 class="text-4xl font-bold text-gray-800 leading-tight">
            Software integrado de gestión de flotas.
        </h1>
        <p class="mt-4 text-lg text-gray-600">
            Creación de rutas, gestión de vehículos, seguimiento en tiempo real y mucho más, todo en una
            plataforma integrada.
        </p>
        <ul class="mt-6 space-y-2 text-gray-600">
            <li class="flex items-center font-semibold">
                <i class="pi pi-check-circle mr-3" style="color: #4d4af7"></i>
                Gestiona tus vehículos y a tus conductores.
            </li>
            <li class="flex items-center font-semibold">
                <i class="pi pi-check-circle mr-3" style="color: #4d4af7"></i>
                Programa rutas personalizadas para entregas.
            </li>
            <li class="flex items-center font-semibold">
                <i class="pi pi-check-circle mr-3" style="color: #4d4af7"></i>
                Controla el consumo de combustible y mantenimientos.
            </li>
        </ul>
        <p class="mt-6 text-gray-500">
            Únete a las muchas empresas que confían en <strong>CARRILLOs</strong>.
        </p>
    </div>

    <!-- Columna derecha con Gemini -->
    <div class="flex justify-center">
        <app-gemini-generate></app-gemini-generate>
    </div>
</div>

<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    aria-hidden="true">
    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#f2f2f2] to-white opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 72.5% 32.5%, 60.2% 62.4%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 74.1% 44.1%)">
    </div>
</div>