<main>
    <app-overview-cards></app-overview-cards>

    <div class="pt-4 px-4">
        <div class="w-full grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
            <app-expense-chart [totalExpense]="_$combustible" [percentageChange]="percentageChange"
                [chartData]="fuelChartData" [chartOptions]="fuelChartOptions">
            </app-expense-chart>

            <app-recent-bookings [bookings]="bookings">
            </app-recent-bookings>
        </div>
    </div>
</main>