@defer (on viewport) {
<main class="relative bg-gradient-to-b from-f2f2f2 to-white">
    <header class="absolute inset-x-0 top-0 z-50">
        <header-landing />
    </header>

    <div class="relative isolate lg:px-8">
        <info-landing />
    </div>

    <section class="relative bg-gradient-to-b from-gray-800 via-gray-900 to-black py-16">
        <pricing-landing />
    </section>

    <footer class="bg-white dark:bg-gray-900">
        <footer-landing />
    </footer>
</main>
} @placeholder {
<p>Loading...</p>
}