<form [formGroup]="reminderForm" (ngSubmit)="onSubmit()" class="mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="vehicle">Vehículo</label>
                <input type="text" class="form-control" id="vehicle" formControlName="vehicle"
                    [ngClass]="{'is-invalid': reminderForm.get('vehicle')?.invalid && reminderForm.get('vehicle')?.touched}">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="due_date">Fecha</label>
                <input type="datetime-local" class="form-control" id="due_date" formControlName="due_date"
                    [ngClass]="{'is-invalid': reminderForm.get('due_date')?.invalid && reminderForm.get('due_date')?.touched}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="task">Tarea</label>
                <input type="text" class="form-control" id="task" formControlName="task"
                    [ngClass]="{'is-invalid': reminderForm.get('task')?.invalid && reminderForm.get('task')?.touched}">
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary mt-4" [disabled]="!reminderForm.valid">
                Crear
            </button>
        </div>
    </div>
</form>