<div class="flex m-2">
    <div class="w-full px-4 py-2 flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between border-b">
        <div class="flex flex-wrap items-center gap-2">
            <!-- Search Input -->
            <div class="relative">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="absolute left-2 top-1/2 h-4 w-4 -translate-y-1/2 text-gray-400" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
                <input [(ngModel)]="search" (input)="filterContacts()" type="search" placeholder="Buscar por teléfono"
                    class="w-[200px] rounded-md border border-gray-300 bg-white px-8 text-sm border-gray-300 focus:border-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-700">

            </div>
        </div>

        <div class="flex items-center gap-2">
            <div class="flex items-center space-x-2">
                <!-- Previous Page Button -->
                <button (click)="prevPage()" [disabled]="currentPage === 1"
                    class="h-8 w-8 flex items-center justify-center rounded-md border border-gray-300 bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>

                <!-- Pagination Info -->
                <span class="font-medium text-gray-500">
                    Página {{ currentPage }} - {{ getEndIndex() }} de {{ totalItems }}

                </span>

                <!-- Next Page Button -->
                <button (click)="nextPage()" [disabled]="currentPage === totalPages"
                    class="h-8 w-8 flex items-center justify-center rounded-md border border-gray-300 bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </button>
            </div>

            <!-- Settings Button -->
            <button (click)="openSettingsModal()"
                class="h-9 w-9 flex items-center justify-center rounded-md border border-gray-300 bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- sección donde estará la tabla de los contactos -->
<div class="m-8">

    <!-- modal de settings -->
    @if (showModal) {
    <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
        <div class="bg-white rounded-lg shadow-lg w-full max-w-md">
            <div class="flex items-center justify-between p-4 border-b">
                <h2 class="text-lg font-semibold text-gray-800">Ajustar tamaño de la tabla</h2>
                <button class="text-gray-400 hover:text-red-600">
                    <svg (click)="closeSettingsModal()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="p-6">
                <div class="mb-4">
                    <label for="pageSize" class="block text-sm font-medium text-gray-700 mb-2">Elementos por
                        página:</label>
                    <!-- dropdown -->
                    <div class="relative mt-2 md:mt-0">
                        <button
                            class="w-full bg-white border border-gray-200 text-gray-700 py-2 px-4 rounded inline-flex justify-between items-center dark:bg-[#20293A] dark:border-slate-700 dark:text-gray-400"
                            (click)="toggleDropdown()"><span>{{ pageSize ? pageSize : 'opcion' }}</span>


                            <svg class="ml-2 h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>

                        <div [ngClass]="{'transition ease-out duration-300 tranform opacity-100 scale-100' : isDropdownOpen,
                                'transition ease-in duration-75 transform opacity-0 scale-95' : !isDropdownOpen}
                            "
                            class="absolute z-50 mt-2 w-full rounded-md shadow-lg bg-white border border-gray-200 dark:bg-[#20293A] dark:border-slate-700">
                            <button (click)="setPageSize(5)"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-[#161d2a]">5</button>
                            <button (click)="setPageSize(10)"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-[#161d2a]">10</button>
                            <button (click)="setPageSize(20)"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-[#161d2a]">20</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <!-- disenios de la tabla -->

    <div class="flex justify-between items-center mb-6">
        <div>
            <h1 class="text-2xl font-semibold mb-1">Lista de Contactos</h1>
            <p class="text-sm text-gray-500">Miembros activos</p>
        </div>

        <button
            class="bg-blue-500 hover:bg-blue-600 text-gray-800 font-medium py-2 px-4 rounded inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M15 12c2.761 0 5-2.239 5-5s-2.239-5-5-5-5 2.239-5 5 2.239 5 5 5zm0 2c-3.73 0-7 2.134-7 4v2h14v-2c0-1.866-3.27-4-7-4zm-9-4h-2v2h2v2h2v-2h2v-2h-2v-2h-2v2z" />
            </svg>
            <span class="font-medium text-white">Agregar contacto</span>
        </button>

    </div>

    <!-- spinner -->
    @if (loadingService.loading$ | async) {
    <div class="fixed inset-0 z-50 bg-gray-800 bg-opacity-50 flex items-center justify-center">
        <div role="status">
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin fill-blue-600" viewBox="0 0 100 101"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    }

    <div class="overflow-x-auto rounded-lg border border-gray-200">
        <div class="overflow-y-auto max-h-[400px]">
            <table class="min-w-full w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        @for (c of columnas; track c) {
                        <th scope="col"
                            class="sticky top-0 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider bg-gray-50 shadow">
                            {{ c }}
                        </th>
                        }
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @for (contact of pagedContacts; track $index) {

                    <tr class="hover:bg-gray-50 cursor-pointer">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-slate-900">
                            {{ contact.name }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ contact.company }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ contact.phone }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ contact.email }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ contact.service }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span
                                [class]="'inline-flex px-2 py-1 text-xs font-semibold rounded-full ' + 
                                        (contact.status === 'Activo' ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800')">
                                {{ contact.status }}
                            </span>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <!-- modal popup -->
            @if (showContactModal) {
            <p-dialog header="Información del Contacto" [modal]="true" [draggable]="false"
                [(visible)]="showContactModal" [style]="{ width: '30rem', backgroundColor: '#c1c1c1' }"
                [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

                <div class="flex items-center gap-4">
                    <div
                        class="w-12 h-12 bg-gray-600 rounded-full flex items-center justify-center text-white text-xl font-bold">
                        {{ initials }}
                    </div>
                    <div class="flex-1">
                        <h3 class="text-lg font-semibold text-gray-800">{{ selectedRowData?.name }}</h3>
                        <p class="text-sm text-gray-400">
                            Servicio de {{ selectedRowData?.service }} de {{ selectedRowData?.company }}
                        </p>
                    </div>
                </div>

                <div class="mt-4 flex gap-2">
                    <button
                        class="flex-1 px-4 py-2 bg-emerald-500 hover:bg-emerald-600 text-white font-medium rounded-md transition duration-300 ease-in-out">
                        Enviar correo
                    </button>
                    <button
                        class="flex-1 px-4 py-2 bg-orange-200 hover:bg-orange-300 text-orange-900 font-medium rounded-md transition duration-300 ease-in-out">
                        Marcar por teléfono
                    </button>
                    <button
                        class="p-2 bg-red-500 hover:bg-red-600 text-red-100 rounded-md transition duration-300 ease-in-out">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Eliminar</span>
                    </button>
                </div>
            </p-dialog>
            <!-- fin modal popup -->
            }
        </div>
    </div>
</div>