<div class="flex m-2">
    <div class="w-full px-4 py-2 flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between border-b border-t">
        <div class="flex flex-wrap items-center gap-2">
            <div class="relative">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="absolute left-2 top-1/2 h-4 w-4 -translate-y-1/2 text-gray-400" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
                <input type="search" placeholder="Buscar por teléfono"
                    class="w-[200px] rounded-md border border-gray-300 bg-white px-8 text-sm border-gray-300 focus:border-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-700">

            </div>
        </div>

        <div class="flex items-center gap-2">
            <div class="flex items-center space-x-2">
                <button class="h-8 w-8 flex items-center justify-center rounded-md border border-gray-300 bg-white">
                    <i class="pi 
                    pi-angle-left text-gray-500"></i>
                </button>
                <button class="h-8 w-8 flex items-center justify-center rounded-md border border-gray-300 bg-white">
                    <i class="pi 
                    pi-angle-right text-gray-500"></i>
                </button>
                <span class="font-medium text-gray-500">
                    Página
                </span>
            </div>

            <button class="h-9 w-9 flex items-center justify-center rounded-md border border-gray-300 bg-white">
                <i class="pi 
                pi-cog text-gray-500"></i>
            </button>
        </div>
    </div>
</div>