<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
        <tr>
            @for (header of tableHeaders; track $index) {
            <th scope="col"
                class="sticky top-0 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider bg-gray-50 shadow"
                >
                {{ header }}
            </th>
            }
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        @if (drivers.length > 0) {
        @for (driver of drivers; track $index) {
        <tr class="hover:bg-gray-100 cursor-pointer">
            <td class="px-6 py-4 text-sm font-medium text-slate-900" style="width: 200px; white-space: nowrap;">
                {{ driver.name }}
            </td>
            <td class="px-6 py-4 text-sm text-gray-500" style="width: 200px; white-space: nowrap;">
                {{ driver.license_number }}
            </td>
            <td class="px-6 py-4 text-sm text-gray-500" style="width: 300px; max-height: 100px; overflow-y: auto;">
                {{ driver.license_category }}
            </td>
            <td class="px-6 py-4 text-sm text-gray-500" style="width: 300px; max-height: 100px; overflow-y: auto;">
                {{ driver.phone }}
            </td>
            <td class="px-6 py-4 text-sm text-gray-500"
                style="width: 300px; max-height: 100px; overflow-y: auto; text-wrap: wrap;">
                {{ driver.address }}
            </td>
            <td class="px-6 py-4 text-sm text-gray-500">
                <div class="flex gap-2">
                    <i class="pi pi-eye text-blue-500 text-xl cursor-pointer mr-4" (click)="editDriver(driver)"
                        title="Ver detalles">
                    </i>
                    <i class="pi pi-trash text-red-500 text-xl cursor-pointer" (click)="deleteDriver(driver.driver_id!)"
                        title="Eliminar">
                    </i>
                </div>
            </td>
        </tr>
        }
        } @else {
        <tr>
            <td colspan="6" class="px-6 py-4 text-center text-gray-500" style="white-space: nowrap;">
                <div class="flex flex-col items-center">
                    <i class="pi pi-info-circle text-4xl text-gray-400 mb-2"></i>
                    <p class="text-xl font-medium text-gray-600">No hay datos disponibles</p>
                    <p class="text-sm text-gray-400">No se ha encontrado ningún conductor</p>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>